In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

In [3]:
%sql SELECT * FROM songplays LIMIT 50;

 * postgresql://student:***@127.0.0.1/sparkifydb
50 rows affected.

[(1, datetime.datetime(2018, 11, 25, 1, 39, 14), 76, 'free', None, None, 846, 'Seattle-Tacoma-Bellevue, WA', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (2, datetime.datetime(2018, 11, 25, 1, 42, 11), 76, 'free', None, None, 846, 'Seattle-Tacoma-Bellevue, WA', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (3, datetime.datetime(2018, 11, 25, 2, 35, 47), 9, 'free', None, None, 856, 'Eureka-Arcata-Fortuna, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; rv:11.0) like Gecko'),
 (4, datetime.datetime(2018, 11, 25, 2, 40, 22), 9, 'free', None, None, 856, 'Eureka-Arcata-Fortuna, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; rv:11.0) like Gecko'),
 (5, datetime.datetime(2018, 11, 25, 5, 5, 48), 49, 'paid', None, None, 916, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (6, datetime.datetime(2018, 11, 25, 5, 9, 11), 49, 'paid', None, None, 916, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (7, datetime.datetime(2018, 11, 25, 5, 13, 48), 49, 'paid', None, None, 916, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (8, datetime.datetime(2018, 11, 25, 5, 19, 22), 49, 'paid', None, None, 916, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (9, datetime.datetime(2018, 11, 25, 5, 24, 18), 49, 'paid', None, None, 916, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (10, datetime.datetime(2018, 11, 25, 5, 27, 58), 49, 'paid', None, None, 916, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (11, datetime.datetime(2018, 11, 25, 5, 28, 25), 49, 'paid', None, None, 916, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (12, datetime.datetime(2018, 11, 25, 5, 49, 11), 49, 'paid', None, None, 916, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (13, datetime.datetime(2018, 11, 25, 5, 52, 32), 49, 'paid', None, None, 916, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (14, datetime.datetime(2018, 11, 25, 5, 55, 40), 49, 'paid', None, None, 916, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (15, datetime.datetime(2018, 11, 25, 5, 58, 2), 49, 'paid', None, None, 916, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (16, datetime.datetime(2018, 11, 25, 6, 2, 14), 49, 'paid', None, None, 916, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (17, datetime.datetime(2018, 11, 25, 6, 6, 17), 49, 'paid', None, None, 916, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (18, datetime.datetime(2018, 11, 25, 6, 8, 30), 49, 'paid', None, None, 916, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (19, datetime.datetime(2018, 11, 25, 6, 11, 10), 49, 'paid', None, None, 916, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (20, datetime.datetime(2018, 11, 25, 6, 15, 59), 49, 'paid', None, None, 916, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (21, datetime.datetime(2018, 11, 25, 6, 46, 58), 49, 'paid', None, None, 916, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (22, datetime.datetime(2018, 11, 25, 6, 51, 16), 49, 'paid', None, None, 916, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (23, datetime.datetime(2018, 11, 25, 8, 40, 8), 78, 'free', None, None, 704, 'Indianapolis-Carmel-Anderson, IN', 'Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (24, datetime.datetime(2018, 11, 25, 11, 28, 25), 69, 'free', None, None, 901, 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (25, datetime.datetime(2018, 11, 25, 13, 56, 40), 48, 'free', None, None, 373, 'Salinas, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (26, datetime.datetime(2018, 11, 25, 14, 13, 48), 14, 'free', None, None, 813, 'Red Bluff, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (27, datetime.datetime(2018, 11, 25, 14, 17, 10), 14, 'free', None, None, 813, 'Red Bluff, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (28, datetime.datetime(2018, 11, 25, 16, 6, 25), 49, 'paid', None, None, 923, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (29, datetime.datetime(2018, 11, 25, 16, 10, 39), 49, 'paid', None, None, 923, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (30, datetime.datetime(2018, 11, 25, 16, 14, 24), 49, 'paid', None, None, 923, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (31, datetime.datetime(2018, 11, 25, 16, 18, 23), 49, 'paid', None, None, 923, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (32, datetime.datetime(2018, 11, 25, 16, 22, 11), 49, 'paid', None, None, 923, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (33, datetime.datetime(2018, 11, 25, 17, 29, 5), 78, 'free', None, None, 925, 'Indianapolis-Carmel-Anderson, IN', 'Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (34, datetime.datetime(2018, 11, 25, 18, 21, 32), 80, 'paid', None, None, 915, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (35, datetime.datetime(2018, 11, 25, 18, 24, 18), 80, 'paid', None, None, 915, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (36, datetime.datetime(2018, 11, 25, 18, 27, 30), 80, 'paid', None, None, 915, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (37, datetime.datetime(2018, 11, 25, 18, 31, 25), 80, 'paid', None, None, 915, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (38, datetime.datetime(2018, 11, 25, 18, 36, 14), 80, 'paid', None, None, 915, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (39, datetime.datetime(2018, 11, 25, 23, 48, 10), 37, 'free', None, None, 814, 'Salinas, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (40, datetime.datetime(2018, 11, 25, 23, 52, 32), 37, 'free', None, None, 814, 'Salinas, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (41, datetime.datetime(2018, 11, 25, 23, 59, 39), 37, 'free', None, None, 814, 'Salinas, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (42, datetime.datetime(2018, 11, 17, 0, 2, 24), 49, 'paid', None, None, 648, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (43, datetime.datetime(2018, 11, 17, 0, 6, 40), 49, 'paid', None, None, 648, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (44, datetime.datetime(2018, 11, 17, 0, 10, 51), 49, 'paid', None, None, 648, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (45, datetime.datetime(2018, 11, 17, 0, 14, 35), 49, 'paid', None, None, 648, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (46, datetime.datetime(2018, 11, 17, 0, 17, 39), 49, 'paid', None, None, 648, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (47, datetime.datetime(2018, 11, 17, 0, 20, 55), 49, 'paid', None, None, 648, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (48, datetime.datetime(2018, 11, 17, 0, 27, 1), 49, 'paid', None, None, 648, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (49, datetime.datetime(2018, 11, 17, 0, 28, 7), 88, 'free', None, None, 659, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (50, datetime.datetime(2018, 11, 17, 0, 31, 21), 49, 'paid', None, None, 648, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [4]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(76, 'Jayden', 'Duffy', 'F', 'free'),
 (9, 'Wyatt', 'Scott', 'M', 'free'),
 (49, 'Chloe', 'Cuevas', 'F', 'paid'),
 (78, 'Chloe', 'Roth', 'F', 'free'),
 (69, 'Anabelle', 'Simpson', 'F', 'free')]

In [5]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', 1982, 233.40363),
 ('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.93179),
 ('SOHKNRJ12A6701D1F8', 'Drop of Rain', 'AR10USD1187B99F3F1', 0, 189.57016),
 ('SOYMRWW12A6D4FAB14', 'The Moon And I (Ordinary Day Album Version)', 'ARKFYS91187B98E58F', 0, 267.7024),
 ('SOMJBYD12A6D4F8557', 'Keepin It Real (Skit)', 'ARD0S291187B9B7BF5', 0, 114.78159)]

In [6]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', nan, nan),
 ('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan),
 ('AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', nan, nan),
 ('ARKFYS91187B98E58F', 'Jeff And Sheri Easter', '', nan, nan),
 ('ARD0S291187B9B7BF5', 'Rated R', 'Ohio', nan, nan)]

In [7]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 25, 1, 39, 14, 796000), 1, '25', 47, 11, 2018, '6'),
 (datetime.datetime(2018, 11, 25, 1, 42, 11, 796000), 1, '25', 47, 11, 2018, '6'),
 (datetime.datetime(2018, 11, 25, 2, 35, 47, 796000), 2, '25', 47, 11, 2018, '6'),
 (datetime.datetime(2018, 11, 25, 2, 40, 22, 796000), 2, '25', 47, 11, 2018, '6'),
 (datetime.datetime(2018, 11, 25, 5, 5, 48, 796000), 5, '25', 47, 11, 2018, '6')]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).